@use './variable' as *;

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Container 

.container-primary {
    width: 1380px;
    margin: 0 auto;
}

.container-secondary {
    width: 1200px;
    margin: 0 auto;
}

// Commons

img {
    width: 100%;
    display: block;
}