//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-primary {
    width: 1280px;
    margin: 0 auto;
}

.container-secondary {
    width: 1080px;
    margin: 0 auto;
}

body {
    background-color: #22213d;

    li {
        list-style: none;
    }

    img {
        width: 100%;
        display: block;
    }
}