//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #22213d;

    li {
        list-style: none;
        cursor: pointer;
    }

    img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: contain;
    }
}